.contractForm{
    margin-left: 19vw;
    /* padding-top: 2vh; */
    margin-bottom: 10vh;
    width: 77vw;
}

.contractForm__topcard,
.contractForm__ffcard,
.contractForm__tmcard,
.contractForm__assoccard,
.contractForm__uploadcard,
.contractForm__commentscard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 2vh;
}
.contractForm__uploadcard,
.contractForm__commentscard{
    width: 38.5vw;
    height: 37vh;
}

.contractForm__uploadcard__upload{
    margin-top: 2%;
    border: 1px dashed #ccc;
    border-radius: 8px;
    padding: 26px;
    text-align: center;
    width: 35vw;
}
.contractForm__assoccard{
    width: 50vw;
}
.contractForm__submit{
    margin-top: 2%;
    background-color: #dc143c;
    color: white;
}

.contractForm__ffcard__contractvalue{
    margin-left: 18rem;
    margin-bottom: 0.3rem;
}

.contractForm__ffcard__addbutton{
    background-color: #dc143c;
    color: white;
    border: none;
    margin-left: auto;
}

.contractForm__ffcard__main{
    text-align: right;
}