.maincontainer {
  margin-left: 14rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 3%;
  background-color: #ffffff;
  width: 80vw;
  height: max-content;
  font-family: "Montserrat", sans-serif;
  /* position: relative; */
}

.maincontainer__revenue {
  height: 68vh;
  border: solid 1px #ffffff;
  width: 59.5vw;
  min-height: 27.7rem;
  margin-top: -2rem;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

@media screen and (min-width: 1px) and (min-height: 600px) {
  /* .maincontainer__revenue {
    height: 31.5rem;
  } */
}

.maincontainer__chart {
  margin-left: -21rem;
  margin-top: -5rem;
  transform: scale(0.6);
  height: 25rem;
}
.maincontainer__doclist {
  width: 17.4rem;
  margin-left: 1rem;
  border-radius: 10px;
}

.maincontainer__contractlist {
  left: 29.7%;
  top: 103%;
  padding-bottom: 1%;
}
.maincontainer__comments {
  width: 26.6%;
  left: 0.9%;
  top: 98%;
  padding-bottom: 1%;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 768px) {
  .maincontainer {
    margin-left: 5rem;
    overflow-x: hidden;
  }

  .maincontainer__milestones {
    /* position: relative; */
    top: 0;
    width: 85vw;
    margin: 1rem 0.5rem;
  }

  .maincontainer__revenue {
    width: 85vw;
  }

  .maincontainer__chart {
    margin-left: -10rem;
    margin-top: -2rem;
    transform: scale(0.8);
    height: 25rem;
  }
}
@media screen and (max-width: 435px){
  .maincontainer__revenue {
    min-width: 110vw;
    width: 85vw;
    height: 56vh;
    margin-bottom: 1.5vh;
  }
  .maincontainer__revenue{
    margin-top:27vh;
    scale:0.7;
    margin-left: -29%;
 
  }
  .contractgraph{
    margin-left: -81vw;
    scale: 0.67;
    margin-top:34vh;

  }
  .maincontainer__doclist{
    margin-left: -44vw;
    scale: 0.68;
    margin-top: -57.5vh;
  }
  .msacontractlist{
    margin-left: -27vw;
    margin-top: -10vh;
  }
  .msacomment{
    margin-top: 26vh;
    margin-bottom: 1vh;
  }
  
}
