@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contract_list{
    margin-top: 1%;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
    width: 47rem;
}
.contract_list_heading h4{
    font-weight: 700;
    font-size: 1rem;
}
.contract_list_table {
    height: 240px;
    overflow-y: auto;
}

.contract_list_table::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

.contract_list_table::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
}

.contract_list_table::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px;
    height: 10px;
}

.contract_list_table::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
