.maincontainer__chart {
  margin-left: -16rem;
  margin-top: -7.9%;
  transform: scale(0.72);
  height: 25rem;
}
@media screen and (max-width: 435px){
  .maincontainer__chart {
    margin-left: -40vw;
  }
}